{% extends 'base.html.twig' %}

{% block body %}

    <p>Toute ressemblance avec des lieux existants ou ayant existé est purement fortuite.</p>
<ul>
    <li><strong>Chalet</strong></li>
    <p>
        "J'ai jamais touché mes filles.... J'ai jamais battu mes filles... excepté une fois au chalet" - Un homme sage
    </p>
    <li><strong>Wild Code School</strong></li>
    <p>
        Besoin d'un peu de repos ? Ce lieu est fait pour vous. Sentez-y chez vous comme à la maison mais ne mettez jamais la clim au dessus de 20°.
    </p>
    <li><strong>WhitePigeon</strong></li>
    <p>
        Rejoindre une équipe de pi..professionnels, dans une ambiance de me...magento.. Le stage rêvé de tous.
    </p>
    <li><strong>ThinkFap</strong></li>
    <p>
        Donne moi du Think ! Donne moi du Fap ! (euh..)
        C'est la fabrique à Faprice !
    </p>
    <li><strong>GhostDistrict</strong></li>
    <p>
        .... bUuuUUuh ...... bouUuuuh .... on est plus là ..... bouuuuUuUUUuuuuuUh ...
    </p>

</ul>
{% endblock %}
